<span style='color: #000' title='Frames'>   408</span><span style='color: #009' title='Memory'> 120832.00 KB</span><span style='color: #900' title='Time'>    327.20 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />