@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700,900');

/* Edited by Hilal */
#rekentool-wrapper{
    max-width: 860px;
    margin: 0 auto;
}
#rekentool-headtitle{
	text-transform: uppercase;
	color: #000;
	font-size: 24px;
	margin: 0px 0px 20px;
	line-height: 32px;
}
#rekentool-headtitle strong{
	color: #000;
	font-weight: 600;
}
#rekenform .tab{
	border: none;
	padding: 0px;
	float: none;
	cursor: initial;
}
#rekenform .tab .hilite{
	color: #000;
}
#rekenform .tab .form-sub{
    color: #000;
    margin: 0px 0px 20px;
    font-size: 14px;
}
#rekenform .tab .form-sub.small{
	font-size: 11px;
}
#rekenform .tab .form-sub strong{
	color: #000;
}
#rekenform .tab .form-sub a{
	color: #000;
}
#rekenform .breadcrumb-wrapper{
	padding-top: 10px;
}
#rekenform #breadcrumb{
	margin: 0px 0px 23px;
}
#rekenform #breadcrumb li{
	float: none;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	vertical-align: top;
	text-align: center;
	border-radius: 50%;
	background: #f1f1f1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #232f5d;
	margin-right: 18px;
	cursor: not-allowed;
}
#rekenform #breadcrumb li:last-child{
	margin-right: 0px;
}
#rekenform #breadcrumb li a{
	color: #232f5d;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
#rekenform #breadcrumb li.finish{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
}
#rekenform #breadcrumb li.active{
	background: #232f5d;
	color: #f1f1f1;
}
#rekenform #breadcrumb li.active a{
	color: #f1f1f1;
}
#rekenform .tab-content{
	background: #232f5d;
	color: #fff;
	padding: 20px 25px;
	position: relative;
}
#rekenform .tab-content h3,
#rekenform .tab-content h4{
	color: #fff;
	font-family: Verdana, sans-serif;
}
#rekenform .tab-content h3{
	font-size: 18px;
	font-weight: 700;
}
#rekenform .tab-content h4{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
}
#rekenform .form-entry{
	position: relative;
}
#rekenform .form-label,
#rekenform .form-field{
	float: left;
	margin-bottom: 15px;
}
#rekenform .clearfix:before,
#rekenform .clearfix:after{
	display: table;
	line-height: 0;
	content: ' ';
}
#rekenform .clearfix:after{
	clear: both;
}
#rekenform .form-label{
	width: 240px;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
}
#rekenform .form-field{
	width: 350px;
}
#rekenform .form-label.radio{

}
#rekenform .form-field input[type=text]{
	width: 298px;
	margin: 0px;
	max-width: none !important;
	margin-right: 11px;
	height: 30px;
	vertical-align: top;
}
#rekenform .tab-picture{
	position: absolute;
	right: 40px;
	top: 70px;
}
#rekenform .button-wrapper{
	padding-top: 20px;
}
#rekenform .formnav.next,
#rekenform .formnav.nexttwo{
	width: 130px;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	text-align: center;
	font-family: verdana, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #379010;
}
#rekenform .formnav.next{
	float: right;
}
#rekenform .formnav.nexttwo{
	float: left;
	background-color: #8e8e8e;
}
#rekenform .form-field .radio{
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
}
#rekenform .form-field .radio label{
	display: inline-block;
	position: relative;
	top: -3px;
	margin-right: 30px;
}
#rekenform .form-label.large{
	width: 313px;
	padding-left: 65px;
	position: relative;
}
#rekenform .field-label-large{
	position: absolute;
	left: 30px;
	top: 10px;
}
#rekenform .form-field.small input[type=text]{
	width: 250px;
}
#tab3 .tab-picture{
	top: 38px;
}
#rekenform .button-wrapper.submit{
	text-align: center;
}
#rekenform .button-wrapper.submit input{
	width: 272px;
	height: 52px;
	font-family: verdana, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	background: #379010;
}
#tab4 .tab-picture{
	right: 64px;
	top: 59px;
}
@media(max-width:859px){
	#rekenform .tab-picture{
		display: none;
	}
}
@media(max-width:600px){
	#rekenform .form-label,
	#rekenform .form-field{
		float: none !important;
		width: 100% !important;
	}
	#rekenform .form-field input[type="text"]{
		width: 100%;
	}
	#rekenform .form-field.with-tooltip input[type="text"]{
		width: calc(100% - 50px) !important;
	}
}
@media(max-width:320px){
	#rekenform #breadcrumb li{
		margin-right: 18px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
	}
	#rekenform #breadcrumb li.finish{
		font-size: 12px;
		line-height: 18px;
	}
}