@charset "utf-8";
/* CSS Document */

.form-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #3684cf;
}.form-sub {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	font-style: italic !important;
	color: #ff8400 !important;
	margin-bottom: 0 !important;
}
.hilite{
	height:auto;
	width:594px;
	background:#ececec;
	padding:10px 15px;
	margin:15px 0;
	-moz-border-radius:10px;    /* Firefox */
	-webkit-border-radius:10px; /* Safari and Chrome */
}
.hilite p{
	ext-shadow:1px 1px 1px #FFF;
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	color:#404040;
	margin:0;
    padding:0;
}
/*.bcrumb { display: block; margin: 15px; color: #404040;font-size: 12px;  display: inline;position: relative;text-decoration: none !important;}
.bcrumb a { text-decoration: none !important; }  
.bcrumb li {  display: inline; }  
.bcrumb li.first { padding-left: 8px; }  
.bcrumb li a,  
.bcrumb li a:link,  
.bcrumb li a:visited {  
    color: #a6a6a6;  
    display: block;  
    float: left;  
    font-size: 12px;  
    position: relative;  
    text-decoration: none !important;  
}  
.bcrumb li a:hover {  
    color: #333;  
    background-position: 100% -48px;  
    cursor: pointer;  
	text-decoration: none !important;  
}  
.bcrumb li a:active {  
    color: #333;  
    background-position: 100% -96px;  
} */

#breadcrumb {display: block;display: inline; text-decoration: none !important;
width:594px; 
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left; /* added by IS - Aug 2010 */
color:#404040;
padding:5px 5px 5px 0;
}


#breadcrumb a {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#a6a6a6;
padding-left:5px;text-decoration: none !important;

}
/* ADDED PS 10092012 */
#breadcrumb ul {
list-style-type:none;
padding:0;
margin:0 !important;
}
ul {
margin:0 !important;
}
#breadcrumb ul li {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left; /* added by IS - Aug 2010 */
color:#404040;
padding-left:5px;
float:left; display: block; display: inline;
}
#breadcrumb li {
display: inline;
text-decoration: none !important;
}
#breadcrumb ul li a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#a6a6a6;
padding-left:5px;
}
ul.resultaat { list-style-type:none; }
ul.resultaat li { list-style-type:none; margin-top: 5px;line-height: 3em;}

ul.numeric-decimals { counter-reset:section; list-style-type:none; }
ul.numeric-decimals li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals li ul { counter-reset:subsection; }
ul.numeric-decimals li:before{
    counter-increment:section;
   /* content:counter(section) ". ";/**/content:"1. " counter(section) ". ";/**/
}
ul.numeric-decimals li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ul.numeric-decimals-two { counter-reset:section; list-style-type:none; }
ul.numeric-decimals-two li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals-two li ul { counter-reset:subsection; }
ul.numeric-decimals-two li:before{
    counter-increment:section;
   /* content:counter(section) ". ";/**/content:"2. " counter(section) ". ";/**/
}
ul.numeric-decimals-two li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ul.numeric-decimals-three { counter-reset:section; list-style-type:none; }
ul.numeric-decimals-three li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals-three li ul { counter-reset:subsection; }
ul.numeric-decimals-three li:before{
    counter-increment:section;
   /* content:counter(section) ". ";/**/content:"3. " counter(section) ". ";/**/
}
ul.numeric-decimals-three li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}


input.single {
border: 1px solid #bfbfbf !important;
background-color: #ffffff !important;
padding: 0 6px 0 !important;
width: 141px !important;
vertical-align: middle;
text-align: right;
height: 34px;
border-radius: 5px;
margin-left:30px;
}

.morinfo {
margin-left: 10px !important;
vertical-align: middle;
}

.verder{
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px;
border-radius: 5px;
height: 25px;
width: 90px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
}
.verder a{color: #fff !important; text-decoration:none !important;}
.verder a:hover{color: #fff !important; text-decoration:none !important;}
.verder a:link{color: #fff !important; text-decoration:none !important;}

.verdertwo{
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px;
border-radius: 5px;
height: 25px;
width: 150px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
}
.verdertwo a{color: #fff !important; text-decoration:none !important;}
.verdertwo a:hover{color: #fff !important; text-decoration:none !important;}
.verdertwo a:link{color: #fff !important; text-decoration:none !important;}

.verderthree{
color: #fff;
font-weight: bold;
background-color: #ff931d;
padding: 10px;
border-radius: 5px;
height: 25px;
width: 150px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
}
.verderthree a{color: #fff !important; text-decoration:none !important;}
.verderthree a:hover{color: #fff !important; text-decoration:none !important;}
.verderthree a:link{color: #fff !important; text-decoration:none !important;}

#form21{
width:150px;
margin-left:30px;
vertical-align: middle;
}

.resultinput{
position: absolute;
margin-left: 200px;
margin-top: -35px;
}

input.singletwo {
border: none;
background-color: #ffffff !important;
padding: 0 6px 0 !important;
width: 141px !important;
vertical-align: middle;
text-align: right;
height: 34px;
border-radius: 5px;
margin-left: 30px;
}