/*
Theme Name: Multiprofiel 2
Theme URI: http://wordpress.org/extend/themes/twentyeleven
Author: Digitalbits BV
Author URI: http://wordpress.org/
Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 1.2
License: GNU General Public License
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
body {
   behavior: url("csshover3.htc");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.left { float: left !important; }
.clear,
.clearer
{
	clear: both;
	line-height: 0;	
	font-size: 0;
	height: 0;
	display: block;
}

/* =Structure
----------------------------------------------- */

body {
}
#page {
}
#branding hgroup {
}
#access div {
	margin: 0 7.6%;
}
#primary {
	float: left;
	width: 594px;
}
#content {
}
#secondary {
	float: right;
	width: 163px;
}
#tertiary {
	float: left;
	width: 164px;
	margin-right: 18px;
}
.home #primary
{
	width: 789px;
	float: right;
}
.home #tertiary
{
	width: 154px;
	margin-right: 15px;
}
#primary.two-columns-right
{
	width: 775px;
}

/* images content */
#content img
{
	/*padding: 0 10px 2px 0;*/ /* commented voor Legbordstellingen content nopadding buttons*/
	padding: 0 0 0 0;
	margin: 0;
}
#content img.alignleft {margin-right: 10px!important;}
img.border
{
    /*border: 2px solid #00486F;*/
    float: right!important;
    margin-left: 8px;
    margin-right: 12px;
    padding: 0;
}
img.border2 
{
    /*border: 2px solid #00486F;*/
    float: left;
    margin-right: 8px!important;
    padding: 0;
}
img.border3 
{
    /*border: 2px solid #00486F;*/
    margin-right: 18px!important;
    padding: 0;
}

img.borderright {}
.images_top img
{
	padding: 0 0 10px 10px !important;
	
	width: 141px;
	height: 94px;
	
	display: block;
	float: left;
}
.images_top img.first
{
	padding-left: 0 !important;
}


/* links */
#content a
{
	text-decoration: underline;
}
#content a:hover,
#content a:focus
{
	text-decoration: none;
}
.btn_offerte
{
	background: url(images/btn_offerte.png) no-repeat;
	display: inline-block;
    height: 27px;
    text-align: center;
    width: 186px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding-top: 6px;
	text-decoration: none !important;
}
.h4-offerte {font-weight: bold; text-align: center; font-size: 14px; padding-bottom: 14px;}
.p-offerte {text-align: center; } 
.btn_offerte_groot
{
	background: url(images/btn_offerte.png) no-repeat;
	display: inline-block;
    height: 30px;
    text-align: center;
    width: 186px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
	text-decoration: none !important;
}


/* tables content */
.data-table
{
	border: 0 none !important;
}
.data-table td
{
	border: 0 none !important;
	vertical-align: middle;
	text-align: center;
}
.data-table td img
{
	border: 0 none;
}

/* smooth slider */
.smooth_slider
{
	margin: 0 0 24px;
	padding: 0;
}
.smooth_slider .jcarousel-control 
{
    float: none;
    width: auto;
	background: url(images/bg_slidernav.png) no-repeat;
	padding: 10px 0;
}
.smooth_slider .jcarousel-control a
{
	background: url(images/bg_slidernavitem.png) no-repeat;
	width: 187px;
	height: 18px;
	border: 0;
	font-weight: normal !important;
	text-align: center;
	color: #ffffff !important;
	padding: 8px 0;
	margin: 0 0 0 8px;
}
.smooth_slider .jcarousel-control a:hover
{
	background-image: url(images/bg_slidernavitem-h.png) !important;
}
.smooth_slider .jcarousel-control a.active
{
	background-image: url(images/bg_slidernavitem-a.png);
}
.smooth_slider .sldrlink
{
	display: none;
}

/* home blocks */
#home-blocks
{
	margin-bottom: 24px;
}
#home-blocks div
{
	float: left;
	margin-left: 17px;
	width: 227px;
}
#block1
{
	margin-left: 0 !important;
	width: 228px !important;
}
#block4
{
	width: 225px !important;
}
#home-blocks a
{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
#home-blocks a .img
{
	display: block;
    height: 142px;
}
#home-blocks a .title
{
	background: url(images/bg_block-title.png) no-repeat;
	display: block;
	height: 38px;
	padding-top: 12px;
	
}
#home-blocks a:hover .title,
#home-blocks a:focus .title
{
	background-image: url(images/bg_block-title-h.png);
}
#block1 .img
{
	background: url(images/bg_block1.jpg) no-repeat;
}
#block2 .img
{
	background: url(images/bg_block2.jpg) no-repeat;
}
#block3 .img
{
	background: url(images/bg_block3.jpg) no-repeat;
}
#block4 .img
{
	background: url(images/bg_block4.jpg) no-repeat;
}

/* nav producten */
#producten
{
	background-color: #ccedff;
	padding: 10px 5px;
	position: relative;
	margin: 0 0 2.2em;
}
#producten h2
{
	font-size: 14px;
	font-weight: bold;
	color: #106dad;
	text-transform: uppercase;
	margin-left: 7px;
}
#producten ul
{
	margin: 0;
	list-style: none;
}
#producten ul li
{
	margin-bottom: 1px;
}
#producten ul li a
{
	display: block;
	font-size: 12px;
	color: #666666;
	padding: 2px 7px 3px;
}
#ie7 #producten ul li a
{
	padding-top: 0;
}
#producten ul li a:hover,
#producten ul li a:focus,
#producten ul li.current-menu-item a
{
	background: url(images/bg_nav-a.png) no-repeat left center;
	color: #ffffff;
	text-decoration: none;
}
#producten-lt,
#producten-rt,
#producten-lb,
#producten-rb
{
	width: 3px;
	height: 3px;
	position: absolute;
}
#producten-lt
{
	background: url(images/producten-lt.png) no-repeat;
	left: 0;
	top: 0;
}
#producten-rt
{
	background: url(images/producten-rt.png) no-repeat;
	right: 0;
	top: 0;
}
#producten-lb
{
	background: url(images/producten-lb.png) no-repeat;
	left: 0;
	bottom: 0;
}
#producten-rb
{
	background: url(images/producten-rb.png) no-repeat;
	right: 0;
	bottom: 0;
}

/* home producten */
.home #producten
{
	background-color: transparent;
	padding: 0;
}
.home #producten h2
{
	background: url(images/bg_producten.png) no-repeat;
	margin: 0 0 2px;
    padding: 5px 7px 3px;
}
.home #producten-lt,
.home #producten-rt,
.home #producten-lb,
.home #producten-rb
{
	display: none;
}

/* category */
.category .page-header,
.category .entry-meta
{
	display: none;
}
.category .hentry img.alignleft
{
	border: 0 none;
}
.category .hentry
{
	border: 0 none;
	padding: 0;
	margin-bottom: 40px;
}
.category .hentry .entry-title
{
	font-size: 24px;
}
.category .hentry .article-img
{
	float: left;
	margin-right: 10px;
    overflow: hidden;
    width: 152px;
}
.category .hentry .article-content
{
	float: left;
	width: 582px;
}

.category-nieuws .hentry .article-content {width: 522px;}

/* Singular */
.singular #primary {
	margin: 0;
}
.singular #content,
.left-sidebar.singular #content {
	position: relative;
	width: auto;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
}

.singular .entry-header .entry-meta,
.singular footer.entry-meta
{
	display: none;
}

.page .entry-header
{
	display: none;
}

#comments
{
	display: none;
}

/* Attachments */
.singular .image-attachment .entry-content {
	margin: 0 auto;
	width: auto;
}
.singular .image-attachment .entry-description {
	margin: 0 auto;
	width: 68.9%;
}

/* Showcase */
.page-template-showcase-php #primary,
.left-sidebar.page-template-showcase-php #primary {
	margin: 0;
}
.page-template-showcase-php #content,
.left-sidebar.page-template-showcase-php #content {
	margin: 0 7.6%;
	width: auto;
}
.page-template-showcase-php section.recent-posts {
	float: right;
	margin: 0 0 0 31%;
	width: 69%;
}
.page-template-showcase-php #main .widget-area {
	float: left;
	margin: 0 -22.15% 0 0;
	width: 22.15%;
}

/* error404 */
.error404 #primary {
	float: none;
	margin: 0;
}
.error404 #primary #content {
	margin: 0 7.6%;
	width: auto;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
	float: right;
	margin: 0 0 0 -26.4%;
	width: 100%;
}
.left-sidebar #content {
	margin: 0 7.6% 0 34%;
	width: 58.4%;
}
.left-sidebar #secondary {
	float: left;
	margin-left: 7.6%;
	margin-right: 0;
	width: 18.8%;
}

/* One column */
.one-column #page {
	max-width: 690px;
}
.one-column #content {
	margin: 0 7.6%;
	width: auto;
}
.one-column #nav-below {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.625em;
}
.one-column #secondary {
	float: none;
	margin: 0 7.6%;
	width: auto;
}
/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
	float: none;
	margin: 0;
	width: 100%;
}
.one-column .page-template-showcase-php #main .widget-area {
	float: none;
	margin: 0;
	width: auto;
}
.one-column .page-template-showcase-php .other-recent-posts {
	border-bottom: 1px solid #ddd;
}
/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
	border: none;
	display: block;
	height: auto;
	max-width: 60%;
	position: static;
}
.one-column article.feature-image.small {
	margin: 0 0 1.625em;
	padding: 0;
}
.one-column article.feature-image.small .entry-title {
	font-size: 20px;
	line-height: 1.3em;
}
.one-column article.feature-image.small .entry-summary {
	height: 150px;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
}
.one-column article.feature-image.small .entry-summary a {
	left: -9%;
}
/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
	width: 100%;
}
/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
	margin: 0 0 1.625em;
}
.one-column.singular .pull.alignleft {
	margin: 0 1.625em 0 0;
}
.one-column.singular .pull.alignright {
	margin: 0 0 0 1.625em;
}
.one-column.singular .entry-meta .edit-link a {
	position: absolute;
	left: 0;
	top: 40px;
}
.one-column.singular #author-info {
	margin: 2.2em -8.8% 0;
	padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
	margin-left: 102px;
	width: auto;
}
/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
	right: 40px;
	top: 4em;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
	margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
	margin-right: 85px;
}
.one-column .commentlist .avatar {
	background: transparent;
	display: block;
	padding: 0;
	top: 1.625em;
	left: auto;
	right: 1.625em;
}
.one-column .commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2em;
	left: 2.2em;
}
.one-column #respond {
	width: auto;
}


/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #373737;
	font: 15px Arial, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}
body {
	background: #ffffff;
}
#page {
	background: #fff; min-width: 959px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
p {
	margin-bottom: 1.625em;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Forms */
input[type=text],
input[type=password],
textarea {
	background: #ffffff;
	/*
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	*/
	border: 1px solid #bfbfbf;
	color: #888;
}
input[type=text]:focus,
textarea:focus {
	color: #373737;
	border-color: #42a2e2;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 1.2em;
	padding: 7px 15px 6px;
}
input#searchsubmit {
	display: none;
}

/* Links */
a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}


/* =Header
----------------------------------------------- */

#branding {
	padding-bottom: 25px;
	position: relative;
	z-index: 20;
	max-width: 958px;
	margin: 0 auto;
}
#site-title {
	float: left;
	clear: none;
	margin: 5px 15px 10px 0;
}
#site-title a {
	color: #111;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}
#site-description {
	color: #074168;
	font-size: 19px;
	float: left;
	clear: none;
	line-height: 69px;
}
#site-description span {
	color: #3684CF;
}
#branding img {
	display: block;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	clear: both;
	display: block;
	width: 100%;
}
#access ul {
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	color: #ffffff;
	display: block;
	line-height: 44px;
	padding: 0 46px 0 41px;
	text-decoration: none;
	background-color: #42a2e2;
	text-transform: uppercase;
	font-size: 15px;
	border-left: 1px solid #ccedff;
	font-weight: bold;
	border: 1px solid #42a2e2;
	margin-left: 1px;
}
#access a:hover,
#access a:focus
{
	background: url(images/bg_mainnav-h.png) repeat-x !important;
	border-color: #3288b7;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}	
#access li.first a
{
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	margin-left: 0;
	padding-left: 45px;
}
#access li.last a
{
	background-color: #ff931d;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	border-color: #ff931d;
	padding-left: 45px;
}
#access li.last a:hover,
#access li.last a:focus
{
	background: url(images/bg_mainnav_last-h.png) repeat-x !important;
	border-color: #c46916;
}
#access li#li-over-ons ul, #access li#li-projecten ul {display: none;}
#access li#li-over-ons:hover ul, #access li#li-projecten:hover ul {
	display: block;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	float: left;
	margin: 0;
	position: absolute;
	top: 46px;
	left: 0;
	width: 145px;
	z-index: 99999;
	border-top: #fff 1px solid; 
}

#access li#li-over-ons:hover ul li a {display: block; width: 139px; background-color: #42A2E2; font: bold 12px arial; color: white; border: 1px solid #fff; border-top: 0 none; padding: 8px 0 8px 15px; text-align: left!important; margin-left: 0; text-transform: none;}

#access li#li-projecten:hover ul {
	width: 173px!important;
}
#access li#li-projecten:hover ul li a {display: block; width: 167px!important; background-color: #42A2E2; font: bold 12px arial; color: white; border: 1px solid #fff; border-top: 0 none; padding: 8px 0 8px 15px; text-align: left!important; margin-left: 0; text-transform: none;}




#access ul ul ul {
	left: 100%;
	top: 0;
}

/*
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #efefef;
}
*/
#access li.current-menu-item > a,
#access li.active > a
{
	background: #3180c6;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset;
}
/*
#access li.last:hover > a,
#access li.last a:focus {
	background: #DB7E1A;
}
#access ul li:hover > ul {
	display: block;
}
#access .current_page_item > a,
#access .current_page_ancestor > a {
	font-weight: bold;
}
*/

/* Search Form */
#branding #searchform {
	position: absolute;
	top: 20px;
	right: 0;
	text-align: right;
}
#branding #searchform div {
	margin: 0;
}
#branding #s {
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 215px;
}
#branding #s:focus {
}
#branding #searchsubmit {
	background: url(images/btn_search.png) no-repeat;
	border: none;
	text-indent: -999em;
	width: 33px;
	height: 30px;
	padding: 0 0 2px;
	cursor: pointer;
}
#ie7 #branding #searchsubmit
{
	margin-left: 4px;
}
#branding .only-search #searchform {
	top: 5px;
	z-index: 1;
}
#branding .only-search #s {
	background-color: #666;
	border-color: #000;
	color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
	width: 85%;
}
#branding .only-search #s:focus {
	background-color: #bbb;
}
#branding .with-image #searchform {
	top: auto;
	bottom: -27px;
	max-width: 195px;
}
#branding .only-search + #access div {
	padding-right: 205px;
}


/* =Content
----------------------------------------------- */

#main {
	clear: both;
	max-width: 958px;
	margin: 0 auto;
}
.page-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}
.page-title a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
.hentry,
.no-results {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	position: relative;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title,
.entry-header .entry-meta {
}
.entry-title {
	clear: both;
	color: #222;
	font-size: 26px;
	font-weight: bold;
}
.entry-title,
.entry-title a {
	text-decoration: none !important;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {
	display: none;
}
.entry-content,
.entry-summary {
	color: #666666;
	font-size: 13px;
}
.entry-content p,
.entry-summary p
{
	margin-bottom: 15px;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.entry-content h3,
.comment-content h3 {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full {
	max-width: 97.5%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	background: #eee;
	margin-bottom: 1.625em;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 10px 0 5px 40px;
	position: relative;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#content .gallery {
	margin: 0 auto 1.625em;
}
#content .gallery a img {
	border: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}

/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border: 0 none;
	padding: 6px;
}
.wp-caption img {
	border-color: #eee;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {/* ... including captioned images! */
	background: #fff;
	border-color: #ddd;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
	background: #f7f7f7;
}

/* Author Info */
#author-info {
	font-size: 12px;
	overflow: hidden;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em -35.6% 0 -35.4%;
	padding: 20px 35.4%;
}
.archive #author-info {
	border-bottom: 1px solid #ddd;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
.archive .entry-meta .by-author {display: none;}
.archive #primary {width: 690px;}
#author-avatar {
	float: left;
	margin-right: -78px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	padding: 3px;
}
#author-description {
	float: left;
	margin-left: 108px;
}
#author-description h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 10px;
}

/* Comments link */
.entry-header .comments-link a {
	background: #eee url(images/comment-bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.5em;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #1982d1;
	color: #fff;
	color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
	visibility: hidden;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: -5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
	border-bottom: none;
	position: relative;
}
.singular.page .hentry {
}
.singular .entry-title {
	color: #3684cf;
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin-bottom: 15px;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
	position: absolute;
	top: 0;
	left: 0;
}
blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 0 1.625em;
	text-align: center;
}
.singular blockquote.pull {
	margin: 0 -22.25% 1.625em;
}
.pull.alignleft {
	margin: 0 1.625em 0 0;
	text-align: right;
	width: 33%;
}
.singular .pull.alignleft {
	margin: 0 1.625em 0 -22.25%;
}
.pull.alignright {
	margin: 0 0 0 1.625em;
	text-align: left;
	width: 33%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 1.625em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}
.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 50px;
	position: absolute;
	right: auto;
	top: 80px;
}


/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 1.625em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 1.625em 0 0;
}


/* =Gallery
----------------------------------------------- */

.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 1.625em 0 0;
}


/* =Status
----------------------------------------------- */

.format-status .entry-title,
.format-status .entry-header .comments-link {
	display: none;
}
.singular .format-status .entry-title {
	display: block;
}
.format-status .entry-content {
	padding: 0;
}
.singular .format-status .entry-content {
	padding: 1.625em 0 0;
}
.format-status img.avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	float: left;
	margin: 4px 10px 2px 0;
	padding: 0;
}


/* =Quote
----------------------------------------------- */

.format-quote blockquote {
	color: #555;
	font-size: 17px;
	margin: 0;
}


/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}
.indexed.format-image footer.entry-meta {
	background: #ddd;
	margin-top: -7px;
	padding: 20px 30px;
	overflow: hidden;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 11px;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}


/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 8.9%;
}
.error404 #main #s {
	width: 95%;
}
.error404 #main .widget {
	clear: none;
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
.error404 #main .widget_archive {
	margin-right: 0;
}
.error404 #main .widget_tag_cloud {
	float: none;
	margin-right: 0;
	width: 100%;
}
.error404 .widgettitle {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}


/* =Showcase
----------------------------------------------- */

h1.showcase-heading {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}

/* Intro */
article.intro {
	background: #f9f9f9;
	border-bottom: none;
	margin: -1.855em -8.9% 1.625em;
	padding: 0 8.9%;
}
article.intro .entry-title {
	display: none;
}
article.intro .entry-content {
	color: #111;
	font-size: 16px;
	padding: 1.625em 0 0.625em;
}
article.intro .edit-link a {
	background: #aaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 0 8px;
	position: absolute;
	top: 30px;
	right: 20px;
	text-decoration: none;
}
article.intro .edit-link a:hover,
article.intro .edit-link a:focus,
article.intro .edit-link a:active {
	background: #777;
}

/* Featured post */
section.featured-post {
	float: left;
	margin: -1.625em -8.9% 1.625em;
	padding: 1.625em 8.9% 0;
	position: relative;
	width: 100%;
}
section.featured-post .hentry {
	border: none;
	color: #666;
	margin: 0;
}
section.featured-post .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Small featured post */
section.featured-post .attachment-small-feature {
	float: right;
	height: auto;
	margin: 0 -8.9% 1.625em 0;
	max-width: 59%;
	position: relative;
	right: -15px;
}
section.featured-post.small {
	padding-top: 0;
}
section.featured-post .attachment-small-feature:hover,
section.featured-post .attachment-small-feature:focus,
section.featured-post .attachment-small-feature:active {
	opacity: .8;
}
article.feature-image.small {
	float: left;
	margin: 0 0 1.625em;
	width: 45%;
}
article.feature-image.small .entry-title {
	line-height: 1.2em;
}
article.feature-image.small .entry-summary {
	color: #555;
	font-size: 13px;
}
article.feature-image.small .entry-summary p a {
	background: #222;
	color: #eee;
	display: block;
	left: -23.8%;
	padding: 9px 26px 9px 85px;
	position: relative;
	text-decoration: none;
	top: 20px;
	width: 180px;
	z-index: 1;
}
article.feature-image.small .entry-summary p a:hover {
	background: #1982d1;
	color: #eee;
	color: rgba(255,255,255,0.8);
}

/* Large featured post */
section.feature-image.large {
	border: none;
	max-height: 288px;
	padding: 0;
	width: 100%;
}
section.feature-image.large .showcase-heading {
	display: none;
}
section.feature-image.large .hentry {
	border-bottom: none;
	left: 9%;
	margin: 1.625em 9% 0 0;
	position: absolute;
	top: 0;
}
article.feature-image.large .entry-title a {
	background: #222;
	background: rgba(0,0,0,0.8);
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	padding: .2em 20px;
}
section.feature-image.large:hover .entry-title a,
section.feature-image.large .entry-title:hover a {
	background: #eee;
	background: rgba(255,255,255,0.8);
	color: #222;
}
article.feature-image.large .entry-summary {
	display: none;
}
section.feature-image.large img {
	display: block;
	height: auto;
	max-width: 117.9%;
	padding: 0 0 6px;
}

/* Featured Slider */
.featured-posts {
	border-bottom: 1px solid #ddd;
	display: block;
	height: 328px;
	margin: 1.625em -8.9% 20px;
	max-width: 1000px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.featured-posts .showcase-heading {
	padding-left: 8.9%;
}
.featured-posts section.featured-post {
	background: #fff;
	height: 288px;
	left: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	width: auto;
}
.featured-posts section.featured-post.large {
	max-width: 100%;
	overflow: hidden;
}
.featured-posts section.featured-post {
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: opacity, visibility;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 200ms;
	-moz-transition-property: opacity, visibility;
	-moz-transition-timing-function: ease;
}
.featured-posts section.featured-post {
	opacity: 0;
	visibility: hidden;
}
.featured-posts #featured-post-1 {
	opacity: 1;
	visibility: visible;
}
.featured-post .feature-text:after,
.featured-post .feature-image.small:after {
	content: ' ';
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	width: 100%;
	height: 45px;
	position: absolute;
	top: 230px;
}
.featured-post .feature-image.small:after {
	top: 253px;
}
#content .feature-slider {
	top: 5px;
	right: 8.9%;
	overflow: visible;
	position: absolute;
}
.feature-slider ul {
	list-style-type: none;
	margin: 0;
}
.feature-slider li {
	float: left;
	margin: 0 6px;
}
.feature-slider a {
	background: #3c3c3c;
	background: rgba(60,60,60,0.9);
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	display: block;
	width: 14px;
	height: 14px;
}
.feature-slider a.active {
	background: #1982d1;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	cursor: default;
	opacity: 0.5;
}

/* Recent Posts */
section.recent-posts {
	padding: 0 0 1.625em;
}
section.recent-posts .hentry {
	border: none;
	margin: 0;
}
section.recent-posts .other-recent-posts {
	border-bottom: 1px solid #ddd;
	list-style: none;
	margin: 0;
}
section.recent-posts .other-recent-posts li {
	padding: 0.3125em 0;
	position: relative;
}
section.recent-posts .other-recent-posts .entry-title {
	border-top: 1px solid #ddd;
	font-size: 17px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"] {
	color: #373737;
	float: left;
	max-width: 84%;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:after {
	content: '-';
	color: transparent;
	font-size: 11px;
}
section.recent-posts .other-recent-posts a[rel="bookmark"]:hover {
}
section.recent-posts .other-recent-posts .comments-link a,
section.recent-posts .other-recent-posts .comments-link > span {
	border-bottom: 2px solid #999;
	bottom: -2px;
	color: #444;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	padding: 0.3125em 0 0.3125em 1em;
	position: absolute;
	right: 0;
	text-align: right;
	text-transform: uppercase;
	z-index: 1;
}
section.recent-posts .other-recent-posts .comments-link > span {
	border-color: #bbb;
	color: #888;
}
section.recent-posts .other-recent-posts .comments-link a:hover {
	color: #1982d1;
	border-color: #1982d1;
}
section.recent-posts .other-recent-posts li:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}


/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	width: 100%;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 12px;
}
.widget {
	clear: both;
	margin: 0 0 2.2em;
	position: relative;
}
.widget-title {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #42a2e2;
	line-height: 20px;
    padding: 6px 5px;
}
.widget ul {
	font-size: 15px;
	margin: 0;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
	color: #777;
	font-size: 13px;
}
.widget a {
	text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 77%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
	list-style: square;
	margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.widget_twentyeleven_ephemera .comments-link a,
.widget_twentyeleven_ephemera .comments-link > span {
	color: #666;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	text-transform: uppercase;
}
section.ephemera .entry-title .comments-link a:hover,
.widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}
section.ephemera .entry-title a span {
	color: #29628d;
}

/* Twitter */
.widget_twitter li {
	list-style-type: none;
	margin-bottom: 14px;
}
.widget_twitter .timesince {
	display: block;
	font-size: 11px;
	margin-right: -10px;
	text-align: right;
}

/* Widget Image */
.widget_image img {
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* widget rechts */
.widget-lt,
.widget-rt,
.widget-lb,
.widget-rb
{
	position: absolute;
	width: 5px;
	height: 5px;
}
.widget-lt
{
	background: url(images/widget-lt.png) no-repeat;
	left: 0;
	top: 0;
}
.widget-rt
{
	background: url(images/widget-rt.png) no-repeat;
	right: 0;
	top: 0;
}
.widget-lb
{
	background: url(images/widget-lb.png) no-repeat;
	left: 0;
	bottom: 0;
}
#ie7 .widget-lb
{
	bottom: 2px;
}
.widget-rb
{
	background: url(images/widget-rb.png) no-repeat;
	right: 0;
	bottom: 0;
}
#ie7 .widget-rb
{
	bottom: 2px;
}
#secondary .textwidget
{
	border-left: 1px solid #42a2e2;
	border-right: 1px solid #42a2e2;
	border-bottom: 1px solid #42a2e2;
	padding: 10px 5px;
}

/* widgets links */
#tertiary .widget
{
	background-color: #CCEDFF;
    padding: 10px 12px;
}
#tertiary .widget h3
{
	display: none;
}
#tertiary .textwidget
{
	font-size: 14px;
	color: #3684cf;
}
#tertiary .textwidget p
{
	margin-bottom: 10px;
}
#tertiary .textwidget strong
{
	color: #074168;
}
#tertiary .widget-lt,
#tertiary .widget-rt,
#tertiary .widget-lb,
#tertiary .widget-rb
{
	width: 3px;
	height: 3px;
}
#tertiary .widget-lt
{
	background-image: url(images/producten-lt.png);
}
#tertiary .widget-rt
{
	background-image: url(images/producten-rt.png);
}
#tertiary .widget-lb
{
	background-image: url(images/producten-lb.png);
}
#tertiary .widget-rb
{
	background-image: url(images/producten-rb.png);
}




/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 68.9%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
	background: #42a2e2;
}
#supplementary {
	border-top: 1px solid #ddd;
	padding: 1.625em 7.6%;
	overflow: hidden;
}

#footer_content
{
	width: 958px;
	margin: 0 auto;
	padding-top: 30px;
	color: #ffffff;
}
#footer_content a
{
	color: #ffffff;
}
#footer_content strong
{
	color: #074168;
}
#footer_content h2
{
	font-size: 40px;
	line-height: 50px;
	color: #ffffff;
	text-transform: uppercase;
}
#footer_content p.footer_1
{
	font-size: 16px;
	color: #074168;
	font-weight: bold;
}
.footer_contact
{
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 2px solid #ffffff;
}
.footer_contact .left
{
	color: #ffffff;
	font-size: 26px;
	padding-top: 25px;
}
.footer_contact .left a
{
	color: #ffffff;
}
.footer_contact .left strong
{
	color: #074168;
}

/* cforms */
.cform
{
	margin: 0 !important;
	width: auto !important;
}
.footer_contact .cform
{
	float: right;
	margin-left: 100px;
	width: 491px !important;
}
.footer_contact .cf-fs1
{
	width: 150px !important;
}
.footer_contact .cf-fs2
{
	width: 300px !important;
}
.footer_contact ol.cf-ol li
{
	width:inherit !important;
}
.cform fieldset
{
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	border: 0 none !important;
}
.cform legend,
.cform .reqtxt,
.cform .emailreqtxt
{
	display: none;
}
.cform label 
{
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	display: block !important;
	text-align: left !important;
	padding-bottom: 2px;
}
.cform input.single
{
	background-color: #ffffff !important;
	border-color: #bfbfbf !important;
	font-size: 12px;
	width: 250px !important;
	padding: 3px 3px 4px !important;
}
.cform textarea
{
	background-color: #ffffff !important;
	border-color: #bfbfbf !important;
	font-size: 12px;
	width: 500px !important;
	height: 92px !important;
}
.cform.offerte_formulier textarea {width: 575px !important;}
.cform input:hover,
.cform textarea:hover,
.cform select:hover 
{
    border-color: #42A2E2 !important;
}
.cform input.backbutton, 
.cform input.resetbutton, 
.cform input.sendbutton 
{
	background: url(images/btn_submit.png) no-repeat !important;
	border: 0 none !important;
	color: #ffffff;
	font-weight: bold;
    text-align: center;
	cursor: pointer;
	width: 77px !important;
	height: 34px;
	margin-left: 0 !important;
}
.cform p.cf-sb
{
	clear: both;
}
#fancybox-close
{
	background: url(images/btn_close.png) no-repeat !important;
	width: 17px !important;
	height: 17px !important;
	right: 35px !important;
	top: 10px !important;
}
#fancybox-overlay
{
	background-color: #ffffff !important;
}
#fancybox-outer
{
	border: 1px solid #999999;
}

/* footer contact form */
.footer_contact .cform
{
	float: right;
	/*
	margin: 0;
	width: auto;
	*/
}
.footer_contact .cform fieldset
{
	/*
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	*/
	float: left;
	margin-left: 16px !important;
}
.footer_contact .cform .cf-fs1 ol li
{
	margin-bottom: 19px !important;
}
.footer_contact .cform input.single
{
	background: url(images/bg_input-text_contact.png) no-repeat !important;
	border: 0 none;
    padding: 0 6px 0 !important;
	width: 141px !important;
	vertical-align: middle;
	height: 34px;
}
#ie7 .footer_contact .cform input.single,
#ie8 .footer_contact .cform input.single
{
	padding: 6px 6px 0 !important;
	height: 28px;
}
.footer_contact .cform textarea
{
	background: url(images/bg_textarea_contact.png) no-repeat !important;
	border: 0 none;
	font-size: 12px;
    padding: 5px 6px;
	width: 291px;
	height: 140px;
	max-width: 291px;
	max-height: 140px;
	min-width: 291px;
	min-height: 140px;
}
.footer_contact .cform input.sendbutton
{
	background: url(images/btn_contact.png) no-repeat !important;
	border: 0 none !important;
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	height: 48px;
    padding: 0;
    text-align: center;
    width: 185px !important;
	cursor: pointer;
	margin-top: -5px;
}
.footer_contact .cform input.sendbutton:hover
{
	background-image: url(images/btn_contact-h.png) !important;
}
.footer_contact .cform label
{
	display: none !important;
}
.footer_contact .cf_info
{
	float: left;
	margin-left: 168px;
}
.linklove { display: none; }

/* offerteaanvraag form */
#fancybox-wrap
{
	width: 680px !important;
}
#fancybox-outer
{
	width: 680px !important;
}
#fancybox-content
{
	width: 660px !important;
}
#fancybox-content > div
{
	width: 660px !important;
}
ol.cf-ol li
{
	float: left !important;
	width: 258px !important;
}
#li-3-1, #li-3-3, #li-3-5, #li-3-7 {width: 320px!important;}
#offerte_form
{
	padding: 20px 10px 10px;
}
#offerte_form h1
{
	color: #42a2e2;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
#offerte_form p.formtext
{
	color: #666666;
	font-size: 13px;
	margin-bottom: 10px;
}
#offerte_form p.cf-sb
{
	text-align: left !important;	
}

.footer_bottom h3
{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer_bottom div
{
	float: left;
	margin-left: 38px;
}
.footer_bottom .first
{
	margin-left: 0;
}
.footer_gegevens
{
	margin-top: 18px;
}
.footer_volgen a
{
	display: inline-block;
	text-indent: -999em;
	margin-top: 15px;
}
.footer_volgen .facebook
{
	background: url(images/i_facebook.png) no-repeat;
	width: 35px;
	height: 35px;
}
.footer_volgen .linkedin
{
	background: url(images/i_linkedin.png) no-repeat;
	width: 35px;
	height: 35px;
}
.footer_volgen .youtube
{
	background: url(images/i_youtube.png) no-repeat;
	width: 36px;
	height: 36px;
}
.footer_volgen .twit
{
    background: url(images/i_twit.png) no-repeat;
    width: 35px;
    height: 35px;
}
.footer_volgen .gplus
{
    background: url(images/i_gplus.png) no-repeat;
    width: 35px;
    height: 35px;
}
.footer_partners
{
	background: url(images/bg_partners.png) no-repeat;
	float: right !important;
	width: 184px;
	height: 80px;
	margin-top: -12px;
	padding: 12px 8px;
}


/* Two Footer Widget Areas */
#supplementary.two .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Site Generator Line */
#site-generator {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
	padding: 2.2em 0.5em;
	text-align: center;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}
#site-generator .sep {
	background: url(images/wordpress.png) center left no-repeat;
	color: transparent;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin: 0 7px;
	width: 16px;
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		margin: 0 7.6%;
		width: auto;
	}
	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	#main #secondary {
		float: none;
		margin: 0 7.6%;
		width: auto;
	}
	/* Simplify the showcase template */
	.page-template-showcase-php .featured-posts {
		min-height: 280px;
	}
	.featured-posts section.featured-post {
		height: auto;
	}
	.page-template-showcase-php section.recent-posts {
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-template-showcase-php #main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
	.page-template-showcase-php .other-recent-posts {
		border-bottom: 1px solid #ddd;
	}
	/* Simplify the showcase template when small feature */
	section.featured-post .attachment-small-feature,
	.one-column section.featured-post .attachment-small-feature {
		border: none;
		display: block;
		float: left;
		height: auto;
		margin: 0.625em auto 1.025em;
		max-width: 30%;
		position: static;
	}
	article.feature-image.small {
		float: right;
		margin: 0 0 1.625em;
		width: 64%;
	}
	.one-column article.feature-image.small .entry-summary {
		height: auto;
	}
	article.feature-image.small .entry-summary p a {
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 1.625em;
	}
	.singular .pull.alignleft {
		margin: 0 1.625em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 1.625em;
	}
	.singular .entry-meta .edit-link a {
		left: 0;
		position: absolute;
		top: 40px;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* Make sure embeds fit their containers */
	embed,
	object {
		max-width: 100%;
	}

}
@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#access ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	blockquote.pull {
		font-size: 17px;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 5.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#branding #searchform {
		top: 1.625em !important;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
		position: static;
	}
	.singular .hentry {
		padding: 1.625em 0 0;
	}
	.singular.page .hentry {
		padding: 1.625em 0 0;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media (max-width: 450px) {
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}

}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ddd;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		margin: 0 auto 1.625em;
		padding: 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	padding-left: -7.6%;
	padding-right: -7.6%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}



/* Clears */
#access ul:after,
.footer_contact:after,
.footer_bottom:after,
#main:after,
#home-blocks:after,
.hentry:after,
.images_top-row:after
{
	display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;
}
#access ul,
.footer_contact,
.footer_bottom,
#main,
#home-blocks,
.hentry,
.images_top-row
{ zoom:1; }


	.popup_block{
	    display: none;
        background: #fff;
	    padding: 15px 20px 15px 20px;
	    border: #dbdbdb 1px solid;
	    float: left; 
	    width: 583px!important; margin: -200px 0 0 -320px;
	    font-size: 1em; line-height: 1.6em;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    z-index: 99999;
    }
    
    #offerte h2 {position: relative; top: -20px; color: #3684CF; font-size: 24px;}
    div#popup-overlay{
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.75);
 
    }

    div#popup-overlay div#popup-container{
        width: 650px;
        min-height: 20px;
        height: 340px;
        margin: 80px auto;
        padding: 20px; border: 0 none!important;
        /*background: #fff;*/
    }

    div#popup-overlay div#popup-container div#content{
        margin: 0;
        padding: 0;
    }

    div#popup-overlay div#popup-container .close, #offerte .close {
    	text-indent: -99999em;
        background: url('images/btn_close.png') no-repeat;
        position: relative; z-index: 999999;
        width: 24px;
        height: 24px;
        left: 10px;
        font-size: 0px;
        float: right;
        cursor: pointer;
    }
    .search .entry-meta {display: none;}
    
#archives .widget-title {border-radius: 5px; -moz-border-radius: 5px -webkit-border-radius: 5px;}
#archives ul {margin-left: 15px; margin-top: 10px;}


#intro {border-top: #42A2E2 1px solid; padding-top: 20px;}
#intro img {border: 0 none; padding: 0 0; }
#intro h2 {clear: right; font-size: 30px; line-height: 30px; color: #106DAD; }
#intro p {font-size: 14px; line-height: 25px;}

/* CHAT */

#chat {position: fixed; left: 50%; bottom: 10px; margin-left: 280px; width: 200px; text-align: right; }
.avlink {display: block; clear: both; position: relative; top: -25px}
.comments-link {display: none!important;}

/* Begin Entresol Landingpage */
.page-id-601 #tertiary, .page-id-601 #secondary,
.page-id-685 #tertiary, .page-id-685 #secondary,
.page-id-1382 #tertiary, .page-id-1382 #secondary,
.page-id-1384 #tertiary, .page-id-1384 #secondary{display: none;}

.page-id-601 #primary,
.page-id-601 .singular #content,
.page-id-685 #primary,
.page-id-685 .singular #content,
.page-id-1382 #primary,
.page-id-1382 .singular #content,
.page-id-1384 #primary,
.page-id-1384 .singular #content,
#primary.landingspage
{width: 100%;}

#waarommultiprofiel {
	float: left;
	width: 555px;
}
#infoofferte {
	width: 380px;
	float: right;
}
#offerte_fotos { margin-top: 30px; }
#offerte_fotos img { margin: 0; }
.box-medium1, .box-medium2 {position: relative; z-index: 8; width: 501px; padding: 17px 17px 0 17px; }
.box-medium1 img { position: absolute; right: 10px; top: 10px;}
.box-medium1 { background-color: #efefef; background: url('http://www.multiprofiel.nl/wp-content/themes/multiprofiel/images/bgbox1.jpg') no-repeat; height: 187px; }	
.box-medium2 { background-color: #f8f8f8; background: url('http://www.multiprofiel.nl/wp-content/themes/multiprofiel/images/bgbox2.jpg') no-repeat; height: 210px; margin: 0; margin-bottom: 10px; }	
.box-medium1 ul, .box-medium2 ul { list-style-type: none; font-size: 13px; color: black; margin-top: 8px; padding: 0 0 0 5px; MARGIN-LEFT: 10px!important;}
.box-medium1 li { padding-left: 30px; line-height: 30px; height: 30px; background: url('images/checkmark-large-blue.png') no-repeat; }
.box-medium1 li.tweeregels { line-height: 18px; padding-top: 6px; padding-bottom: 6px; }
.box-medium2 li { padding-left: 24px; line-height: 28px; height: 28px; background: url('images/li-bg2.jpg') center left no-repeat; }
.box-medium1 p, .box-medium2 p { color: #E24101; margin-left: 14px; font-size: 15px; font-weight: bold; }

.smallcomment { font-size: 8pt; color: #5c5c5c; }

.offerte_adres { color: #000; font-size: 13px; line-height: 16px; background: url('http://www.multiprofiel.nl/wp-content/themes/multiprofiel/images/bgbox3.jpg') no-repeat; height: 92px; width: 349px; padding: 17px; }
.offerte_adres img { float: right; margin: -5px -5px 0 0!important; }

.offerte_h1, .page-id-601 h1
{
	font: 20px Verdana, Arial, sans-serif;
	margin: 10px 0;
	color: #1F84C7;
	font-weight: bold;
}
.offerte_h2
{
	font: 14px Verdana, Arial, sans-serif;
	margin: 0;
	color: #1F84C7!important;
	font-weight: bold;
}
.pijl-groot {position: relative; z-index: 10; background: url('images/pijlrechts-blauw.png') no-repeat; }
.pijl-groot p { color: #fff; font-weight: bold; font-size: 14px; padding: 14px 0; height: 49px; margin: -25px 0 -17px -1px; text-align: center; }
.subkop { color: #1F84C7!important; font-weight:bold; font-size: 12px; margin: -5px 0 10px 0; }

.page-id-685 #menu-left, .page-id-685 #img-footer  div, .page-id-685 #img-footer  a,
.page-id-601 #menu-left, .page-id-601 #img-footer  div, .page-id-601 #img-footer  a { display: none; }
.page-id-601 #container,.page-id-685 #container { background: #fff !important; }
.page-id-601 #content-new , .page-id-685 #content-new { position: relative; width: 964px; margin-top: -40px; }
.page-id-601 .linklove , .page-id-685 .linklove{ display: none; }


#cforms7form label { color: #000; clear: both !important; margin: 0; width: 100% !important; position: relative; text-align: left; }
#cforms7form input, #cforms7form textarea { color: #999999; margin-bottom: 5px; float: left; width: 375px !important; font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; }
#cforms7form input:focus, #cforms7form textarea:focus { color: black; }
#li-7-5 { width: 120px !important; clear: left;}
#li-7-5 input { width: 120px !important; margin-bottom: 1px !important; }
#li-7-6 { 
	float: left!important; 
	width: 233px; 
	margin-top: 2px !important;
	margin-right: 0 !important; 
	position: relative; left: 25px;

}
#li-7-6 input { width: 228px !important; margin-bottom: 1px !important; }

#li-7-7 {clear: both!important;}
#li-7-10.textonly  {float: right!important; background: transparent!important; text-align: left!important; letter-spacing: 0px!important; position: relative; left: -20px;}

#cforms7form input.sendbutton	{ 
	width:80px !important;  
	padding: 5px;
	font-size:12px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	margin-left:0 !important;
	padding-left: 0!important;
	/* margin-top: -40px;*/
}

#cforms7form input.sendbutton:hover { 	color: #fff;}
#infoofferte .cf-sb {float: left!important; clear: none!important;}
#cforms7form .reqtxt { display: none; }
#cforms7form .textonly { float: right; background: none !important; }
#cforms7form li.textonly { float: right !important; letter-spacing: 0; color: #5c5c5c; font-size: 11px; font-weight: bold; } 
/* End Entresol Landingpage */


.category.category-advies .hentry .article-img, .category.category-advies .hentry .gallery {display: none!important;}

#fancybox-outer #fancybox-left, #fancybox-outer #fancybox-right {display: none!important;}
#title {width: 150px !important;
height: 30px !important;
padding: 15px 0 0 0 !important;
font-size: 14px !important;}
#stars_div {width: 150px !important;
height: 30px !important;
padding: 4px 0 0 0 !important;}
#ranking_div {width: 150px !important;}
#counter_div {width: 150px !important;
padding: 9px 0 10px 0 !important;}
#reviews_div {width: 100px !important;
margin: 0 3px !important;}
#bottom_div {width: 150px !important;
padding: 2px 0 5px 0 !important;}

#text-13 .widget-title {
display: none !important;}
#text-13 .textwidget {
border: none !important;
padding: 0 !important;}
#text-13 .widget-lt, .widget-rt, .widget-rb, .widget-lb{display:none !important;}


/*RH Rekentool style START*/
#primary2 {
width: 760px;
float: left;
}
.form-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #3684cf !important;
	margin: 0 !important;	
}.form-sub {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	font-style: italic !important;
	color: #ff8400 !important;
	margin-bottom: 0 !important;
}
.hilite{
	height:auto;
	/*width:594px;*/
	background:#ececec;
	padding:10px 15px;
	margin:15px 0;
	-moz-border-radius:10px;    /* Firefox */
	-webkit-border-radius:10px; /* Safari and Chrome */
}
.hilite p{
	ext-shadow:1px 1px 1px #FFF;
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	color:#404040;
	margin:0;
    padding:0;
}
/*.bcrumb { display: block; margin: 15px; color: #404040;font-size: 12px;  display: inline;position: relative;text-decoration: none !important;}
.bcrumb a { text-decoration: none !important; }  
.bcrumb li {  display: inline; }  
.bcrumb li.first { padding-left: 8px; }  
.bcrumb li a,  
.bcrumb li a:link,  
.bcrumb li a:visited {  
    color: #a6a6a6;  
    display: block;  
    float: left;  
    font-size: 12px;  
    position: relative;  
    text-decoration: none !important;  
}  
.bcrumb li a:hover {  
    color: #333;  
    background-position: 100% -48px;  
    cursor: pointer;  
	text-decoration: none !important;  
}  
.bcrumb li a:active {  
    color: #333;  
    background-position: 100% -96px;  
} */

#breadcrumb {display: block;display: inline; text-decoration: none !important;
width:594px; 
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left; /* added by IS - Aug 2010 */
color:#404040;
padding:5px 5px 5px 0;
}


#breadcrumb a {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#a6a6a6;
padding-left:5px;text-decoration: none !important;

}
/* ADDED PS 10092012 */
#breadcrumb ul {
list-style-type:none;
padding:0;
margin:0 !important;
}
ul {
margin:0 !important;
}
#breadcrumb ul li {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left; /* added by IS - Aug 2010 */
color:#404040;
padding-left:5px;
float:left; display: block; display: inline;
}
#breadcrumb li {
display: inline;
text-decoration: none !important;
}
#breadcrumb ul li a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#a6a6a6;
padding-left:5px;
}
ul.resultaat { list-style-type:none; }
ul.resultaat li { list-style-type:none; margin-top: 5px;line-height: 3em;}

.numdec {
    counter-reset: penomoran;
	margin:0;
}
.numdec li {
    list-style-type: none; 
}
.numdec li:before {
    counter-increment: penomoran;
	content: "1." counter(penomoran) " "; 
}

.numdectwo {
    counter-reset: penomoran;
	margin:0;
}
.numdectwo li {
    list-style-type: none; 
}
.numdectwo li:before {
    counter-increment: penomoran;
	content: "2." counter(penomoran) " "; 
}

.numdecthree {
    counter-reset: penomoran;
	margin:0;
}
.numdecthree li {
    list-style-type: none; 
}
.numdecthree li:before {
    counter-increment: penomoran;
	content: "3." counter(penomoran) " "; 
}

.numdecfour {
    counter-reset: penomoran;
	margin:0;
}
.numdecfour li {
    list-style-type: none; 
}
.numdecfour li:before {
    counter-increment: penomoran;
	content: "4." counter(penomoran) " "; 
}
/*
ul.numeric-decimals { counter-reset:section; list-style-type:none; }
ul.numeric-decimals li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals li ul { counter-reset:subsection; }
ul.numeric-decimals li:before{
    counter-increment:section;
   /* content:counter(section) ". ";content:"1. " counter(section) ". ";/*
}
ul.numeric-decimals li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ul.numeric-decimals-two { counter-reset:section; list-style-type:none; }
ul.numeric-decimals-two li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals-two li ul { counter-reset:subsection; }
ul.numeric-decimals-two li:before{
    counter-increment:section;
   /* content:counter(section) ". ";/*content:"2. " counter(section) ". ";/*
}
ul.numeric-decimals-two li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ul.numeric-decimals-three { counter-reset:section; list-style-type:none; }
ul.numeric-decimals-three li { list-style-type:none; margin-top: 5px; }
ul.numeric-decimals-three li ul { counter-reset:subsection; }
ul.numeric-decimals-three li:before{
    counter-increment:section;
   /* content:counter(section) ". ";/*content:"3. " counter(section) ". ";/*
}
ul.numeric-decimals-three li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}
*/

input.single {
border: 1px solid #bfbfbf ;
background-color: #ffffff !important;
padding: 0 6px 0 !important;
width: 141px !important;
vertical-align: middle;
text-align: right;
height: 34px;
border-radius: 5px;
margin-left:30px;
}

.morinfo {
margin-left: 10px !important;
vertical-align: middle;
}

.verder{
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px;
border-radius: 5px;
/*height: 25px;*/
width: 90px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
margin-left: 30px;
}
.verder a{color: #fff !important; text-decoration:none !important;}
.verder a:hover{color: #fff !important; text-decoration:none !important;}
.verder a:link{color: #fff !important; text-decoration:none !important;}

.vorige{
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px;
border-radius: 5px;
/*height: 25px;*/
width: 90px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
margin-left: 160px;
}
.vorige a{color: #fff !important; text-decoration:none !important;}
.vorige a:hover{color: #fff !important; text-decoration:none !important;}
.vorige a:link{color: #fff !important; text-decoration:none !important;}

.verdertwo{
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px;
border-radius: 5px;
/*height: 25px;*/
width: 180px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration:none !important;
margin-left: 217px;
}
.verdertwo a{color: #fff !important; text-decoration:none !important;}
.verdertwo a:hover{color: #fff !important; text-decoration:none !important;}
.verdertwo a:link{color: #fff !important; text-decoration:none !important;}

.form21{
width:150px;
margin-left:30px;
vertical-align: middle;
display: flex;
}

.resultinput{
position: absolute;
margin-left: 200px;
margin-top: -35px;
}
ul.contactperson { list-style-type:none; }
ul.contactperson li { list-style-type:none; margin-top: 5px;line-height: 3em;}


	
.tooltip{
margin-left: 10px !important;
vertical-align: -webkit-baseline-middle;
display: inline;
position: relative;
}
.tooltip:hover:after {
background: #333;
background: rgba(0,0,0,.7);
border-radius: 5px;
bottom: -10px;
color: #fff;
content: attr(title);
left: 30px;
padding: 5px 15px;
position: absolute;
z-index: 98;
width: 220px;
}

.tooltip:hover:before {
border: solid;
border-color: transparent rgba(0,0,0,.7);
border-width: 6px 6px 6px 0;
bottom: 10px;
content: "";
left: 24px;
position: absolute;
z-index: 99;
}		
.verderthree{
color: #fff;
font-weight: bold;
background-color: #ff931d;
padding: 10px;
border-radius: 5px;
width: 180px;
text-align: center;
position: absolute;
margin-top: 15px;
text-decoration: none !important;
margin-left: 217px;
}
.verderthree a{color: #fff !important; text-decoration:none !important;}
.verderthree a:hover{color: #fff !important; text-decoration:none !important;}
.verderthree a:link{color: #fff !important; text-decoration:none !important;}

input.singletwo {
border: none;
background-color: #ffffff !important;
padding: 0 6px 0 !important;
width: 141px !important;
vertical-align: middle;
text-align: right;
height: 34px;
border-radius: 5px;
margin-left: 30px;
}

a.formnav.next {
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px 15px;
border-radius: 5px;
width: 90px;
text-align: center;
margin-top: 15px;
text-decoration: none !important;
margin-left: 30px;
display: block;
position:absolute;
}

a.formnav.nexttwo {
color: #fff;
font-weight: bold;
background-color: #42a2e2;
padding: 10px 15px;
border-radius: 5px;
width: 90px;
text-align: center;
margin-top: 15px;
text-decoration: none !important;
margin-left: 160px;
display: block;
position: absolute;
}

/*.tooltip:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
		}
		
.tooltip:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}*/
	
	
/*RH Rekentool style END*/