#entresolvloeren-headtitle{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.entresolvloeren-box-wrapper{
    background: #f1f1f1;
}
.entresolvloeren-box-wrapper.white{
    background: #fff;
}
.entresolvloeren-box-container{
    padding: 30px;
}
.entresolvloeren-title{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 28px;
}
.entresolvloeren-title .orange{
    color: #ff6c00;
}
.entresolvloeren-list{
    margin: 0px;
}
.entresolvloeren-list li{
    font-size: 14px;
    color: #232f5d;
    padding-left: 50px;
    line-height: 27px;
    min-height: 27px;
    margin-bottom: 20px;
}
.entresolvloeren-list li.icon-1{
    background: url(assets/images/list-1.png) no-repeat left center;
}
.entresolvloeren-list li.icon-2{
    background: url(assets/images/list-2.png) no-repeat left center;
}
.entresolvloeren-list li.icon-3{
    background: url(assets/images/list-3.png) no-repeat left center;
}
.entresolvloeren-list li.icon-4{
    background: url(assets/images/list-4.png) no-repeat left center;
}
.entresolvloeren-list li.icon-5{
    background: url(assets/images/list-5.png) no-repeat left center;
}
.entresolvloeren-list li.icon-6{
    background: url(assets/images/list-6.png) no-repeat left center;
}
.entresolvloeren-box{
    margin-bottom: 36px !important;
}
.entresolvloeren-box.av_one_half{
    margin-left: 32px;
    width: calc(100% / 2 - 16px);
}
.entresolvloeren-box.av_one_half.first{
    margin-left: 0px;
}
.entresolvloeren-box .button-wrapper{
    padding-top: 4px;
}
.entresolvloeren-box .button-wrapper .button{
    width: 184px;
    height: 40px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #545454;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
#entresolvloeren-form .frm_forms .frm-show-form{
    margin-bottom: 0px;
}
#entresolvloeren-form .frm_forms .frm-show-form .frm_form_fields .frm_primary_label{
    color: #232f5d;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
#entresolvloeren-form .frm_forms .frm-show-form .frm_form_fields .frm_form_field input,
#entresolvloeren-form .frm_forms .frm-show-form .frm_form_fields .frm_form_field select,
#entresolvloeren-form .frm_forms .frm-show-form .frm_form_fields .frm_form_field textarea{
    border: none;
    background: #fff;
    box-shadow: none;
    margin-bottom: 5px;
}
#entresolvloeren-form .frm_forms .frm_form_field{
    margin-bottom: 15px;
}
#entresolvloeren-form .form-detail{
    color: #232f5d;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin: 0px;
    line-height: 40px;
}
#entresolvloeren-form .frm_submit{
    float: right;
    clear: none;
}
#entresolvloeren-form .frm_submit input[type="submit"]{
    width: 130px;
    height: 40px;
    border: none;
    margin: 0px;
    border-radius: 0px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #0f951f;
    text-transform: uppercase;
}
#entresolvloeren-form .frm_submit .frm_ajax_loading{
    float: left;
}
#entresolvloeren-form fieldset{
    padding: 0px;
    margin: 0px;
}
.clearfix:before,
.clearfix:after{
    display: table;
    line-height: 0;
    content: ' ';
}
.clearfix:after{
    clear: both;
}
.entresolvloeren-form-title{
    width: 389px;
    height: 47px;
    background: url(assets/images/form-bg.png) no-repeat;
    line-height: 47px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    padding-left: 18px;
    margin-bottom: 0px;
    position: relative;
    z-index: 10;
}
#entresolvloeren-form .entresolvloeren-box-wrapper{
    margin-top: -23px;
    position: relative;
    z-index: 9;
}
#entresolvloeren-form .entresolvloeren-box-container{
    padding-top: 43px;
    padding-bottom: 21px;
}
#entresolvloeren-icon-box .entresolvloeren-title{
    padding-left: 20px;
    line-height: 47px;
}
.entresolvloeren-dot{
    text-align: center;
    margin-bottom: 82px !important;
}
.entresolvloeren-dot-img{
    margin-bottom: 10px;
}
.entresolvloeren-dot-desc{
    font-size: 12px;
    color: #232f5d;
    line-height: 24px;
}
.entresolvloeren-image.av_one_fifth{
    width: calc(100% / 5 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.entresolvloeren-image.av_one_fifth.first{
    margin-left: 0px;
}
.entresolvloeren-image > a{
    display: block;
}
.carousel-nav{
    display: block;
    width: 14px;
    height: 100%;
    position: absolute;
}
#carousel-prev{
    background: url(assets/images/carousel-prev.png) no-repeat center center;
    left: 0px;
    top: 0px;
}
#carousel-next{
    background: url(assets/images/carousel-next.png) no-repeat center center;
    right: 0px;
    top: 0px;
}
.carousel-container{
    position: relative;
    padding: 0 14px;
}
.carousel-container .cycle-slideshow{
    width: calc(100% - 28px);
}
.carousel-container .cycle-slideshow .slide-item{
    text-align: center;
}
.av_fullwidth .entresolvloeren-title{
    margin-bottom: 50px;
}

@media(max-width:767px){
    .entresolvloeren-dot{
        margin-bottom: 40px !important;
    }
    .entresolvloeren-form-title{
        width: 320px;
        background-position: right center;
    }
}
@media(max-width:320px){
    #entresolvloeren-icon-box .entresolvloeren-title,
    .av_fullwidth .entresolvloeren-title,
    #entresolvloeren-headtitle,
    .entresolvloeren-title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    #entresolvloeren-icon-box .entresolvloeren-title,
    .av_fullwidth .entresolvloeren-title,
    #entresolvloeren-headtitle{
        text-align: center;
        margin-bottom: 30px;
        padding: 0px;
    }
    .entresolvloeren-form-title{
        width: 270px;
        background-position: right center;
        font-size: 14px;
        line-height: 18px;
        padding-top: 5px;
        padding-left: 10px;
    }
}