/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/

div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt a span {
    font-family: 'Open Sans' !important;
    font-size: 13px !important;
    text-transform: uppercase;
}
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 .inner {
    padding: 10px 0 10px 20px !important;
}
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt:HOVER span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt:HOVER span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt:HOVER a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt:HOVER a span,
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opening span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opening span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opening a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opening a span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opened span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opened span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opened a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.opened a span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.active span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.active span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.active a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level2 dt.active a span,
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opening span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opening span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opening a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opening a span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opened span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opened span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opened a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.opened a span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.active span.inner span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.active span.inner span span, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.active a, 
div#nextend-accordion-menu-nextendaccordionmenuwidget-2 dl.level1 dt.active a span {
    color: #C96244 !important;
}

.webwinkel-leftsidebar {
    width:23%;
    padding:0 27px 0 0;
    float:left;
}

.webwinkel-grids {
    width:55%;
    padding:0 10px 0 0;
    float:left;
}

.webwinkel-rightsidebar {
    width:20%;
    padding:0 10px 0 0;
    float:right;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width : 992px) {
    .webwinkel-leftsidebar {
        width:30%;
    }

    .webwinkel-grids {
        width:70%;
    }

    .webwinkel-rightsidebar {
        width:70%;
        float:left;
    }
}

/*Add your own styles here:*/
@media only screen and (max-width: 767px) {
    .box-medium1, .box-medium2 {
        max-width: 100%;
        width: 100%;
    }
    #waarommultiprofiel {
        float: none;
        max-width: 100%;
        width: 100%;
    }
    #infoofferte {
        max-width: 100%;
        float: none;
        width: 100%;
    }
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    
    .webwinkel-leftsidebar {
        width:100%;
        margin-bottom: 30px;
    }

    .webwinkel-grids {
        width:100%;
    }

    .webwinkel-rightsidebar {
        width:100%;
        float:left;
        margin-top: 30px;
    }

    #top .widget ul {
        display: block !important;
    }
    
    #truckimage-holder {
        text-align: center;
    }
    #footer .widget {
        margin: 0;
    }
    body.admin-bar #shiftnav-toggle-main, 
    body.admin-bar .shiftnav {
        background: #333333;
    }
}
@media only screen and (max-width: 480px) {
    .offerte_adres img {
        float: none;
        margin: 0 0 20px 0;
        display: block;
        width: 100%;
    }
    .box-medium1 img {
        float: none;
        margin: 0 0 20px 0;
        display: block;
        width: 100%;
    }
}